@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Projekt na przedmiot "Programowanie aplikacji mobilnych i webowych" 2021Z - Marek Nowakowski</p>
</div>
