.post
{
    margin: 20px;
    margin-top: 40px;
    background-color: lightgreen;
}

.post-title
{
    font-size: x-large;
    float: left;
    margin-left: 1vw;
}

.post-time 
{
    font-size: medium;
    float: left;
    margin-left: 1vw;
}

.post-author
{
    font-size: medium;
    float: left;
    margin-left: 1vw;
}

.post-edit {
    float: right;
    margin-right: 4vw;
}

.post-delete {
    float: right;
    margin-right: 2vw;
}

.post-image
{
    margin-top: 2vh;
    width: 55.7vw;
}
